In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("DataSets/Iris.csv")
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.0,Iris-setosa
1,2,4.9,3.0,1.4,NaN,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [3]:
df.shape  #shape is attribute which shows no of rows and columns.

(150, 6)

In [4]:
df.info()  #it is a function.gives more info about columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   143 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [5]:
pd.set_option('display.max_columns',4)   #only display 4 columns...it is method in pandas not dataframe
df

      Id  SepalLengthCm  ...  PetalWidthCm         Species
0      1            5.1  ...           0.0     Iris-setosa
1      2            4.9  ...           NaN     Iris-setosa
2      3            4.7  ...           0.2     Iris-setosa
3      4            4.6  ...           0.2     Iris-setosa
4      5            5.0  ...           0.2     Iris-setosa
..   ...            ...  ...           ...             ...
145  146            6.7  ...           2.3  Iris-virginica
146  147            6.3  ...           1.9  Iris-virginica
147  148            6.5  ...           2.0  Iris-virginica
148  149            6.2  ...           2.3  Iris-virginica
149  150            5.9  ...           1.8  Iris-virginica

[150 rows x 6 columns]

In [6]:
schema_df = pd.read_csv('DataSets/Iris.csv')

In [7]:
schema_df

      Id  SepalLengthCm  ...  PetalWidthCm         Species
0      1            5.1  ...           0.0     Iris-setosa
1      2            4.9  ...           NaN     Iris-setosa
2      3            4.7  ...           0.2     Iris-setosa
3      4            4.6  ...           0.2     Iris-setosa
4      5            5.0  ...           0.2     Iris-setosa
..   ...            ...  ...           ...             ...
145  146            6.7  ...           2.3  Iris-virginica
146  147            6.3  ...           1.9  Iris-virginica
147  148            6.5  ...           2.0  Iris-virginica
148  149            6.2  ...           2.3  Iris-virginica
149  150            5.9  ...           1.8  Iris-virginica

[150 rows x 6 columns]

In [8]:
df = schema_df.PetalWidthCm.dropna()

In [9]:
df

0      0.0
2      0.2
3      0.2
4      0.2
5      0.4
      ...
145    2.3
146    1.9
147    2.0
148    2.3
149    1.8
Name: PetalWidthCm, Length: 143, dtype: float64

In [10]:
df.tail(5)#last 5

145    2.3
146    1.9
147    2.0
148    2.3
149    1.8
Name: PetalWidthCm, dtype: float64

In [11]:
marvel={
    
    "Heros":["Thor","Captian","Iron man"],
    "Power":["Hammer","Strength","Suit"],
    "Place":["Asgard","Earth","Earth"]
    
}  #dictionary{} marvel with two objects presented in list[]

In [12]:
import pandas as pd

In [13]:
df=pd.DataFrame(marvel)  #frame the data usinf DataFrame
df

      Heros     Power   Place
0      Thor    Hammer  Asgard
1   Captian  Strength   Earth
2  Iron man      Suit   Earth

In [14]:
df['Power']

0      Hammer
1    Strength
2        Suit
Name: Power, dtype: object

In [15]:
df.Power

0      Hammer
1    Strength
2        Suit
Name: Power, dtype: object

In [16]:
df[['Power',"Heros","Power"]]#need double square barcks df[[]]  two access more than two columns

      Power     Heros     Power
0    Hammer      Thor    Hammer
1  Strength   Captian  Strength
2      Suit  Iron man      Suit

In [17]:
df.columns    #to get columns

Index(['Heros', 'Power', 'Place'], dtype='object')

In [18]:
df.iloc[1]    #acces location(rows) by index no.

Heros     Captian
Power    Strength
Place       Earth
Name: 1, dtype: object

In [19]:
df.iloc[[0,1]]#first two rows

     Heros     Power   Place
0     Thor    Hammer  Asgard
1  Captian  Strength   Earth

In [20]:
df.iloc[[0,1],2]#access first two rows with specific column eg. Place

0    Asgard
1     Earth
Name: Place, dtype: object

In [21]:
df.loc[1]

Heros     Captian
Power    Strength
Place       Earth
Name: 1, dtype: object

In [22]:
df.loc[[1],["Power","Place"]]#access rows by label eg.Power

      Power  Place
1  Strength  Earth

In [23]:
 df.Place.value_counts()#or   df["Place"].value_counts()

Earth     2
Asgard    1
Name: Place, dtype: int64

In [24]:
df.loc[0:2,"Heros":"Place"]#using range ':' operator   but here last element is encluded

      Heros     Power   Place
0      Thor    Hammer  Asgard
1   Captian  Strength   Earth
2  Iron man      Suit   Earth

In [25]:
df.set_index("Heros")  #set index value as "Heros"

             Power   Place
Heros
Thor        Hammer  Asgard
Captian   Strength   Earth
Iron man      Suit   Earth

In [26]:
df     #after set_index actual df is not get affected

      Heros     Power   Place
0      Thor    Hammer  Asgard
1   Captian  Strength   Earth
2  Iron man      Suit   Earth

In [27]:
df.set_index('Heros',inplace=True)

In [28]:
df.sort_index(ascending=False)#Decreasing order

             Power   Place
Heros
Thor        Hammer  Asgard
Iron man      Suit   Earth
Captian   Strength   Earth

In [29]:
df  #after using parameter inplace=True df is actually modified

             Power   Place
Heros
Thor        Hammer  Asgard
Captian   Strength   Earth
Iron man      Suit   Earth

In [30]:
df.index    #index values

Index(['Thor', 'Captian', 'Iron man'], dtype='object', name='Heros')

In [31]:
df.loc["Thor"]  #after setting index we can use loc with value eg."Thor"

Power    Hammer
Place    Asgard
Name: Thor, dtype: object

In [32]:
df.loc["0"]#here we got error as we set index so we only use iloc with id

KeyError: '0'

In [33]:
df.reset_index(inplace=True)

In [34]:
df

      Heros     Power   Place
0      Thor    Hammer  Asgard
1   Captian  Strength   Earth
2  Iron man      Suit   Earth

In [35]:
df.Place='Earth'  #we modify all entries under coulmn place , We only use '=' to asign columns value

In [36]:
df

      Heros     Power  Place
0      Thor    Hammer  Earth
1   Captian  Strength  Earth
2  Iron man      Suit  Earth

In [37]:
df["Place"]="Asgard"

In [38]:
df

      Heros     Power   Place
0      Thor    Hammer  Asgard
1   Captian  Strength  Asgard
2  Iron man      Suit  Asgard

In [39]:
df["Place"]=="Asgard" # We use == to check key:value availability

0    True
1    True
2    True
Name: Place, dtype: bool

In [40]:
filt=(df['Power']=='Suit')  # we can assign that in to single variable

In [41]:
filt

0    False
1    False
2     True
Name: Power, dtype: bool

In [42]:
df[filt]#here we only get filtered value

      Heros Power   Place
2  Iron man  Suit  Asgard

In [43]:
 df[df['Heros']=='Captian']

     Heros     Power   Place
1  Captian  Strength  Asgard

In [44]:
df

      Heros     Power   Place
0      Thor    Hammer  Asgard
1   Captian  Strength  Asgard
2  Iron man      Suit  Asgard

In [45]:
 fltr=df[(df['Heros']=='Captian') & (df['Place']=='Asgard')]

In [46]:
fltr

     Heros     Power   Place
1  Captian  Strength  Asgard

In [47]:
df[(df['Heros']=='Captian') | (df['Place']=='Asgard')]

      Heros     Power   Place
0      Thor    Hammer  Asgard
1   Captian  Strength  Asgard
2  Iron man      Suit  Asgard

In [48]:
df

      Heros     Power   Place
0      Thor    Hammer  Asgard
1   Captian  Strength  Asgard
2  Iron man      Suit  Asgard

In [49]:
df.loc[0]

Heros      Thor
Power    Hammer
Place    Asgard
Name: 0, dtype: object