In [76]:
import pandas as pd

In [77]:
df = pd.read_csv("DataSets/ETH_1H.csv")
df

,Unix Timestamp,Date,Symbol,Open,High,Low,Close,Volume
0,1586995200000,2020-04-16 00:00:00,ETHUSD,152.94,152.94,150.39,150.39,650.188125
1,1586991600000,2020-04-15 23:00:00,ETHUSD,155.81,155.81,151.39,152.94,4277.567299
2,1586988000000,2020-04-15 22:00:00,ETHUSD,157.18,157.30,155.32,155.81,106.337279
3,1586984400000,2020-04-15 21:00:00,ETHUSD,158.04,158.31,157.16,157.18,55.244131
4,1586980800000,2020-04-15 20:00:00,ETHUSD,157.10,158.10,156.87,158.04,144.262622
...,...,...,...,...,...,...,...,...
34492,1462813200,2016-05-09 17:00:00,ETHUSD,9.83,9.83,9.48,9.49,329.553213
34493,1462809600,2016-05-09 16:00:00,ETHUSD,9.99,9.99,9.79,9.83,62.379450
34494,1462806000,2016-05-09 15:00:00,ETHUSD,10.00,10.00,9.99,9.99,10.973567
34495,1462802400,2016-05-09 14:00:00,ETHUSD,9.55,10.00,9.55,10.00,235.774075
34496,1462798800,2016-05-09 13:00:00,ETHUSD,0.00,12.00,0.00,9.55,432.562115

In [78]:
df.dtypes

Unix Timestamp      int64
Date               object
Symbol             object
Open              float64
High              float64
Low               float64
Close             float64
Volume            float64
dtype: object

In [79]:
df['Date'] = pd.to_datetime( df['Date'] , format = '%Y-%m-%d %H:%M:%S')
#convert Date object in to dataetime type
#for date time format refer ->  https://docs.python.org/3/library/datetime.html#strftime-and-strptime-behavior

In [80]:
df.dtypes

Unix Timestamp             int64
Date              datetime64[ns]
Symbol                    object
Open                     float64
High                     float64
Low                      float64
Close                    float64
Volume                   float64
dtype: object

In [81]:
df.Date

0       2020-04-16 00:00:00
1       2020-04-15 23:00:00
2       2020-04-15 22:00:00
3       2020-04-15 21:00:00
4       2020-04-15 20:00:00
                ...
34492   2016-05-09 17:00:00
34493   2016-05-09 16:00:00
34494   2016-05-09 15:00:00
34495   2016-05-09 14:00:00
34496   2016-05-09 13:00:00
Name: Date, Length: 34497, dtype: datetime64[ns]

In [82]:
df.loc[0 ,'Date'].day_name()

'Thursday'

In [83]:
df.Date.max()

Timestamp('2020-04-16 00:00:00')

In [84]:
df.Date.min()

Timestamp('2016-05-09 13:00:00')

In [85]:
df.Date.max() - df.Date.min()

Timedelta('1437 days 11:00:00')

In [86]:
filt = df[df["Date"] > '2020']
filt

,Unix Timestamp,Date,Symbol,Open,High,Low,Close,Volume
0,1586995200000,2020-04-16 00:00:00,ETHUSD,152.94,152.94,150.39,150.39,650.188125
1,1586991600000,2020-04-15 23:00:00,ETHUSD,155.81,155.81,151.39,152.94,4277.567299
2,1586988000000,2020-04-15 22:00:00,ETHUSD,157.18,157.30,155.32,155.81,106.337279
3,1586984400000,2020-04-15 21:00:00,ETHUSD,158.04,158.31,157.16,157.18,55.244131
4,1586980800000,2020-04-15 20:00:00,ETHUSD,157.10,158.10,156.87,158.04,144.262622
...,...,...,...,...,...,...,...,...
2539,1577854800000,2020-01-01 05:00:00,ETHUSD,129.54,129.92,129.54,129.89,7.088780
2540,1577851200000,2020-01-01 04:00:00,ETHUSD,129.83,129.96,129.13,129.54,2807.129465
2541,1577847600000,2020-01-01 03:00:00,ETHUSD,130.25,130.30,129.42,129.83,883.017780
2542,1577844000000,2020-01-01 02:00:00,ETHUSD,129.95,130.58,129.95,130.25,527.921168
2543,1577840400000,2020-01-01 01:00:00,ETHUSD,128.11,130.01,128.11,129.95,220.239530

In [87]:
filt1 = df[df['Date']  > pd.to_datetime('2019-3-3')]
filt1
# for specific date

,Unix Timestamp,Date,Symbol,Open,High,Low,Close,Volume
0,1586995200000,2020-04-16 00:00:00,ETHUSD,152.94,152.94,150.39,150.39,650.188125
1,1586991600000,2020-04-15 23:00:00,ETHUSD,155.81,155.81,151.39,152.94,4277.567299
2,1586988000000,2020-04-15 22:00:00,ETHUSD,157.18,157.30,155.32,155.81,106.337279
3,1586984400000,2020-04-15 21:00:00,ETHUSD,158.04,158.31,157.16,157.18,55.244131
4,1586980800000,2020-04-15 20:00:00,ETHUSD,157.10,158.10,156.87,158.04,144.262622
...,...,...,...,...,...,...,...,...
9832,1551589200000,2019-03-03 05:00:00,ETHUSD,133.05,133.40,132.90,133.16,74.874307
9833,1551585600000,2019-03-03 04:00:00,ETHUSD,133.14,133.42,133.05,133.05,75.510752
9834,1551582000000,2019-03-03 03:00:00,ETHUSD,133.00,133.21,133.00,133.14,4.763670
9835,1551578400000,2019-03-03 02:00:00,ETHUSD,133.58,134.02,132.76,133.00,124.849119
9836,1551574800000,2019-03-03 01:00:00,ETHUSD,134.06,134.56,133.35,133.58,374.362101

In [88]:
df.set_index('Date' , inplace = True)
df

,Unix Timestamp,Symbol,Open,High,Low,Close,Volume
Date,,,,,,,
2020-04-16 00:00:00,1586995200000,ETHUSD,152.94,152.94,150.39,150.39,650.188125
2020-04-15 23:00:00,1586991600000,ETHUSD,155.81,155.81,151.39,152.94,4277.567299
2020-04-15 22:00:00,1586988000000,ETHUSD,157.18,157.30,155.32,155.81,106.337279
2020-04-15 21:00:00,1586984400000,ETHUSD,158.04,158.31,157.16,157.18,55.244131
2020-04-15 20:00:00,1586980800000,ETHUSD,157.10,158.10,156.87,158.04,144.262622
...,...,...,...,...,...,...,...
2016-05-09 17:00:00,1462813200,ETHUSD,9.83,9.83,9.48,9.49,329.553213
2016-05-09 16:00:00,1462809600,ETHUSD,9.99,9.99,9.79,9.83,62.379450
2016-05-09 15:00:00,1462806000,ETHUSD,10.00,10.00,9.99,9.99,10.973567
2016-05-09 14:00:00,1462802400,ETHUSD,9.55,10.00,9.55,10.00,235.774075
2016-05-09 13:00:00,1462798800,ETHUSD,0.00,12.00,0.00,9.55,432.562115

In [94]:
#use slice method to get specific range
df['2016-05':'2016-08'].head(4)

Empty DataFrame
Columns: [Unix Timestamp, Symbol, Open, High, Low, Close, Volume]
Index: []